# Секрети та змінні оточення
.env

# Файли конфігурації IDE
.vscode/
.idea/

# Тимчасові файли macOS
.DS_Store

# Кеш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# База даних за замовчуванням (якщо раніше створювалася локально)
*.sqlite3

# Контейнери та лог-файли (якщо створюються локально)
*.log